body {
  font-size: .28rem;
}
address,
blockquote,
dl,
fieldset,
figure,
hr,
ol,
p,
pre,
ul {
  margin-bottom: .1rem;
}
* + address,
* + blockquote,
* + dl,
* + fieldset,
* + figure,
* + hr,
* + ol,
* + p,
* + pre,
* + ul {
  margin-top: .1rem;
}
input:focus,
textarea:focus {
  outline: 0 none;
}
.txt-l {
  text-align: left;
}
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
.box {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.price,
.important {
  color: #F9595C;
}
.am-active.am-dimmer {
  display: block;
}
.btn-color {
  text-align: center;
  background-image: url(../i/base/head.jpg);
  background-size: cover;
  border-radius: .1rem;
  display: block;
  height: 1rem;
  line-height: 1rem;
  width: 100%;
  color: #fff;
  font-size: .28rem;
}
.btn-color:active,
.btn-color:focus,
.btn-color:hover {
  color: #fff;
}
.page {
  background: #f6f6f6;
  padding-top: 1rem;
  position: relative;
  z-index: 1;
}
.page .home-head {
  text-align: center;
  color: #fff;
  height: 1rem;
  width: 100%;
  background-image: url(../i/base/head.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.page .home-head .title {
  padding: .2rem;
  line-height: .6rem;
  font-size: .36rem;
}
.page .home-head .left {
  height: .34rem;
  width: .34rem;
  position: absolute;
  top: .3rem;
  left: .2rem;
  z-index: 2;
}
.page .home-head .right {
  height: .34rem;
  width: .34rem;
  position: absolute;
  top: .3rem;
  right: .2rem;
  z-index: 2;
}
.page .home-head .right-1 {
  height: .34rem;
  width: .34rem;
  position: absolute;
  top: .3rem;
  right: .8rem;
}
.page .home-head .icon-back {
  background-image: url(../i/base/back.png);
  background-size: contain;
  height: .34rem;
  width: .34rem;
  display: block;
}
.page .home-head .icon-search {
  background-image: url(../i/base/icon-search-w.png);
  background-size: contain;
  height: .34rem;
  width: .34rem;
  display: block;
}
.page .home-head .icon-share {
  background-image: url(../i/base/icon-share.png);
  background-size: contain;
  height: .34rem;
  width: .34rem;
  display: block;
}
.page .home-head .icon-coll {
  background-image: url(../i/base/icon-coll.png);
  background-size: contain;
  height: .34rem;
  width: .34rem;
  display: block;
}
.page-home {
  padding-top: 5.4rem;
  padding-bottom: 1rem;
  overflow-x: hidden;
}
.page-home .home-head {
  height: 3.2rem;
}
.page-home .slide-wrapper {
  height: 3.6rem;
  width: 7.2rem;
  position: absolute;
  z-index: 2;
  top: .9rem;
  left: 50%;
  margin-left: -3.6rem;
}
.page-home .slide-wrapper .am-control-nav {
  display: none;
}
.page-home .main-bar {
  height: 1.8rem;
  widows: 6.9rem;
  background-color: #fff;
  margin: 0 auto .2rem;
}
.page-home .main-bar .item {
  color: #333;
  float: left;
  width: 25%;
  padding-top: .1rem;
  text-align: center;
}
.page-home .main-bar .item .m {
  display: block;
  height: 1.24rem;
  width: 1.24rem;
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-home .main-bar .item .m.m-1 {
  background-image: url(../i/base/m-1.png);
}
.page-home .main-bar .item .m.m-2 {
  background-image: url(../i/base/m-2.png);
}
.page-home .main-bar .item .m.m-3 {
  background-image: url(../i/base/m-3.png);
}
.page-home .main-bar .item .m.m-4 {
  background-image: url(../i/base/m-4.png);
}
.page-home .banner {
  margin: 0 auto .2rem;
  width: 6.9rem;
  height: 2.6rem;
  position: relative;
  z-index: 1;
}
.page-home .banner .banner-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.6rem;
  width: 3.4rem;
  overflow: hidden;
  z-index: 1;
}
.page-home .banner .banner-2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 1.25rem;
  width: 3.4rem;
  overflow: hidden;
  z-index: 1;
}
.page-home .banner .banner-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1.25rem;
  width: 3.4rem;
  overflow: hidden;
  z-index: 1;
}
.page-home .bottom-bar {
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.1rem;
  width: 100%;
  z-index: 99;
}
.page-home .bottom-bar .item {
  float: left;
  padding-top: .05rem;
  line-height: .4rem;
  width: 33.33%;
  display: block;
  color: #333;
  text-align: center;
}
.page-home .bottom-bar .item .icon {
  width: .6rem;
  height: .6rem;
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 auto;
}
.page-home .bottom-bar .item .icon.icon-home {
  background-image: url(../i/base/icon-home.png);
}
.page-home .bottom-bar .item .icon.icon-find {
  background-image: url(../i/base/icon-find.png);
}
.page-home .bottom-bar .item .icon.icon-my {
  background-image: url(../i/base/icon-user.png);
}
.page-home .bottom-bar .item.active {
  color: #F43444;
}
.page-home .bottom-bar .item.active .icon.icon-home {
  background-image: url(../i/base/icon-home-active.png);
}
.page-home .bottom-bar .item.active .icon.icon-find {
  background-image: url(../i/base/icon-find-active.png);
}
.page-home .bottom-bar .item.active .icon.icon-my {
  background-image: url(../i/base/icon-user-active.png);
}
.page-home .section-type-1 {
  width: 6.9rem;
  margin: 0 auto .3rem;
}
.page-home .section-type-1 .hd {
  position: relative;
  z-index: 1;
}
.page-home .section-type-1 .hd .m {
  height: .55rem;
  background-image: url(../i/base/tt-1.png);
}
.page-home .section-type-1 .hd .s {
  color: #888;
  font-size: .24rem;
}
.page-home .section-type-1 .hd .o {
  position: absolute;
  right: 0;
  bottom: .1rem;
  height: .24rem;
  width: .80rem;
  background-image: url(../i/base/more-1.png);
  background-size: contain;
  display: block;
}
.page-home .section-type-1 .con-wrap {
  overflow-x: auto;
  padding-top: .15rem;
  width: 6.9rem;
}
.page-home .section-type-1 .con-wrap .con {
  width: 16.7rem;
}
.page-home .section-type-1 .con-wrap .con .item {
  color: #333;
  display: inline-block;
  width: 5.4rem;
  margin-right: .1rem;
}
.page-home .section-type-1 .con-wrap .con .item .tt {
  display: block;
  line-height: .3rem;
  height: .3rem;
  overflow: hidden;
}
.page-home .section-type-1 .con-wrap .con .item .price {
  display: block;
  line-height: .3rem;
  height: .3rem;
  overflow: hidden;
  color: #F9595C;
}
.page-home .section-type-2 {
  width: 6.9rem;
  margin: 0 auto .3rem;
}
.page-home .section-type-2 .hd {
  position: relative;
  z-index: 1;
}
.page-home .section-type-2 .hd .m {
  height: .55rem;
  background-image: url(../i/base/tt-2.png);
}
.page-home .section-type-2 .hd .s {
  color: #888;
  font-size: .24rem;
}
.page-home .section-type-2 .hd .o {
  position: absolute;
  right: 0;
  bottom: .1rem;
  height: .24rem;
  width: .8rem;
  background-image: url(../i/base/more-2.png);
  background-size: contain;
  display: block;
}
.page-home .section-type-2 .con {
  padding-top: .2rem;
}
.page-home .section-type-2 .con .left {
  float: left;
  height: 4.8rem;
  width: 3.4rem;
}
.page-home .section-type-2 .con .right {
  float: left;
  height: 4.8rem;
  width: 3.5rem;
  padding: .2rem 0;
}
.page-home .section-type-2 .con .right .inner {
  font-size: .24rem;
  background-color: #fff;
  padding: .4rem 0 .6rem;
}
.page-home .section-type-2 .con .right .inner .img {
  width: 2.9rem;
  margin: 0 auto;
  display: block;
  height: 1.88rem;
}
.page-home .section-type-2 .con .right .inner .price {
  color: #F9595C;
  padding-left: .5rem;
}
.page-home .section-type-2 .con .right .inner .line {
  padding-left: .5rem;
}
.page-home .section-type-2 .con .right .inner .am-control-paging {
  position: absolute;
  padding-top: .15rem;
  left: 50%;
  margin-left: .7rem;
  width: 14rem;
}
.page-home .section-type-2 .con .right .inner .am-control-paging li a {
  border-radius: .05rem;
  display: block;
  text-align: left;
  text-indent: -99em;
  height: .5em;
  margin: 0 .05rem;
  width: .4rem;
  background-color: #FCC098;
}
.page-home .section-type-2 .con .right .inner .am-control-paging li a.am-active {
  background-color: #FC4E6F;
}
.page-home .section-white {
  background-color: #fff;
  padding: .1rem 0;
}
.page-home .section-type-3 {
  width: 6.9rem;
  margin: 0 auto .3rem;
}
.page-home .section-type-3 .hd {
  position: relative;
  z-index: 1;
}
.page-home .section-type-3 .hd .m {
  height: .55rem;
  background-image: url(../i/base/tt-3.png);
}
.page-home .section-type-3 .hd .s {
  color: #888;
  font-size: .24rem;
}
.page-home .section-type-3 .hd .o {
  position: absolute;
  right: 0;
  bottom: .1rem;
  height: .23rem;
  width: .74rem;
  background-image: url(../i/home/more.png);
  background-size: contain;
  display: block;
}
.page-home .section-type-3 .con .item {
  color: #333;
  padding: .2rem 0;
  border-bottom: 2px solid #ddd;
  display: block;
  height: .2.5rem;
}
.page-home .section-type-3 .con .item .left {
  float: left;
  width: 4.8rem;
  height: 2.1rem;
  position: relative;
  padding: .2rem .3rem .2rem .1rem;
  z-index: 1;
}
.page-home .section-type-3 .con .item .left .tt {
  display: block;
  margin-bottom: .3rem;
  line-height: .3rem;
  height: .3rem;
  overflow: hidden;
}
.page-home .section-type-3 .con .item .left .desc {
  font-size: .24rem;
  display: block;
  line-height: .28rem;
  height: .56rem;
  overflow: hidden;
}
.page-home .section-type-3 .con .item .left .date {
  position: absolute;
  left: .1rem;
  bottom: .1rem;
}
.page-home .section-type-3 .con .item .left .view {
  height: .4rem;
  line-height: .4rem;
  position: absolute;
  right: .3rem;
  bottom: .1rem;
}
.page-home .section-type-3 .con .item .left .view .m {
  display: inline-block;
  height: .28rem;
  width: .4rem;
  background-image: url(../i/base/icon-msg.png);
  background-size: cover;
  vertical-align: middle;
}
.page-home .section-type-3 .con .item .left .view .v {
  display: inline-block;
  height: .28rem;
  width: .4rem;
  background-image: url(../i/base/icon-eye.png);
  background-size: cover;
  vertical-align: middle;
}
.page-home .section-type-3 .con .item .right {
  float: left;
  height: 2.1rem;
  width: 2.1rem;
}
.page-lyd {
  padding-top: 5rem;
}
.page-lyd .home-head {
  height: 3.2rem;
}
.page-lyd .slide-wrapper {
  height: 3.6rem;
  width: 7.2rem;
  position: absolute;
  z-index: 2;
  top: .9rem;
  left: 50%;
  margin-left: -3.6rem;
}
.page-lyd .slide-wrapper .am-control-nav {
  display: none;
}
.page-lyd .good-filter {
  background-color: #fff;
  border-radius: .2rem;
  width: 6.9rem;
  margin: 0 auto .3rem;
  padding: .2rem .2rem;
}
.page-lyd .good-filter .item {
  float: left;
  width: 33.3%;
  padding-right: .2rem;
}
.page-lyd .good-filter .item .icon-down {
  display: inline-block;
  vertical-align: middle;
  height: .07rem;
  width: .14rem;
  margin-left: .1rem;
  background-image: url(../i/base/icon-tri-down.png);
  background-repeat: no-repeat;
  background-position: right 50%;
  background-size: .14rem .07rem;
}
.page-lyd .good-filter .item.active {
  color: #FC3649;
}
.page-lyd .good-filter .item.active .icon-down {
  background-image: url(../i/base/icon-tri-down-a.png);
}
.page-lyd .good-list {
  width: 6.9rem;
  margin: 0 auto;
}
.page-lyd .good-list .item {
  background-color: #fff;
  box-shadow: 0px 1px 1px #ddd;
  margin-bottom: .4rem;
  display: block;
  color: #333;
}
.page-lyd .good-list .item .hd {
  display: block;
  width: 100%;
  height: 3.rem;
}
.page-lyd .good-list .item .hd img {
  height: 100%;
  width: 100%;
}
.page-lyd .good-list .item .con {
  display: block;
  padding: .1rem;
}
.page-lyd .good-list .item .con .tt {
  font-size: .32rem;
  line-height: .6rem;
  display: block;
}
.page-lyd .good-list .item .con .price {
  display: block;
  line-height: .6rem;
  color: #F9595C;
}
.page-lyd .good-list .item .con .info {
  font-size: .24rem;
  line-height: .44rem;
  display: block;
}
.page-lyd .good-list .item .con .info .user {
  display: inline-block;
  height: .44rem;
  width: .44rem;
  background-image: url(../i/lyd/user.png);
  background-size: contain;
  vertical-align: middle;
  margin-right: .1rem;
}
.page-lyd .good-list .item .con .info .icon-rz {
  display: inline-block;
  height: .25rem;
  width: .35rem;
  background-image: url(../i/lyd/icon-rz.png);
  background-size: contain;
  vertical-align: middle;
  margin-left: .1rem;
}
.page-lyd .model-filter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1200;
  display: none;
}
.page-lyd .model-filter.active {
  display: block;
}
.page-lyd .model-filter .good-filter {
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
}
.page-lyd .model-filter .good-filter-list {
  background-color: #fff;
  padding: 0 .2rem;
  display: none;
}
.page-lyd .model-filter .good-filter-list.active {
  display: block;
}
.page-lyd .model-filter .good-filter-list .item {
  color: #333;
  border-bottom: 1px solid #eee;
  display: block;
  line-height: .8rem;
  position: relative;
  padding-right: .5rem;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-size: .3rem .2rem;
}
.page-lyd .model-filter .good-filter-list .item.active {
  color: #FC3659;
  background-image: url(../i/base/icon-checked.png);
}
.page-search .search-box {
  background-color: #fff;
  padding: .2rem .7rem;
  height: 1rem;
  position: relative;
  z-index: 1;
}
.page-search .search-box .icon-search {
  height: .4rem;
  width: .4rem;
  position: absolute;
  left: .2rem;
  top: .3rem;
  background-image: url(../i/base/icon-search.png);
  background-position: 50% 50%;
  background-size: .32rem .32rem;
  background-repeat: no-repeat;
  z-index: 2;
}
.page-search .search-box .icon-close {
  height: .42rem;
  width: .42rem;
  position: absolute;
  top: .28rem;
  right: .2rem;
  background-image: url(../i/base/icon-close.png);
  background-position: 50% 50%;
  background-size: .32rem .32rem;
  background-repeat: no-repeat;
  z-index: 2;
}
.page-search .search-box .search-input {
  height: .6rem;
  line-height: .6rem;
  width: 100%;
  border: 0 none;
  outline: 0 none;
}
.page-search .search-box .search-input:focus {
  border: 0 none;
  outline: 0 none;
}
.page-detail {
  padding-top: 4.5rem;
}
.page-detail .home-head {
  height: 3.2rem;
}
.page-detail .slide-wrapper {
  height: 3.6rem;
  width: 7.2rem;
  position: absolute;
  z-index: 2;
  top: .9rem;
  left: 50%;
  margin-left: -3.6rem;
}
.page-detail .slide-wrapper .am-control-nav {
  display: none;
}
.page-detail .detail-hd {
  background: #fff;
  border-radius: 0 0 .3rem .3rem;
  width: 6.9rem;
  margin: 0 auto .3rem;
  padding: .3rem 0 0;
}
.page-detail .detail-hd .tt {
  font-size: .32rem;
  padding: 0 .2rem;
}
.page-detail .detail-hd .price {
  color: #F9595C;
  padding: 0 .2rem;
}
.page-detail .detail-hd .tags {
  padding: .2rem .4rem;
  height: .9rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1;
}
.page-detail .detail-hd .tags .item {
  float: left;
  width: 33.3%;
  height: .5rem;
  line-height: .5rem;
  text-align: center;
}
.page-detail .detail-hd .tags .item .icon-divice {
  display: inline-block;
  height: .45rem;
  width: .45rem;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: .15rem;
}
.page-detail .detail-hd .tags .item .icon-divice.icon-1 {
  background-image: url(../i/base/icon-tag-1.png);
}
.page-detail .detail-hd .tags .item .icon-divice.icon-2 {
  background-image: url(../i/base/icon-tag-2.png);
}
.page-detail .detail-hd .tags .item .icon-divice.icon-3 {
  background-image: url(../i/base/icon-tag-3.png);
}
.page-detail .detail-hd .tags .icon-bottom {
  position: absolute;
  right: .15rem;
  top: 50%;
  margin-top: -0.07rem;
  height: .14rem;
  width: .24rem;
  display: block;
  background-image: url(../i/base/icon-arrow-bottom.png);
  background-size: cover;
}
.page-detail .detail-hd .addr {
  color: #333;
  display: block;
  padding: .2rem .4rem .2rem .6rem;
  position: relative;
  z-index: 1;
}
.page-detail .detail-hd .addr .icon-addr {
  position: absolute;
  left: .2rem;
  top: 50%;
  margin-top: -0.17rem;
  width: .28rem;
  height: .35rem;
  display: block;
  z-index: 1;
  background-image: url(../i/base/icon-address.png);
  background-size: cover;
}
.page-detail .detail-hd .addr .icon-right {
  position: absolute;
  right: .2rem;
  top: 50%;
  margin-top: -0.12rem;
  width: .14rem;
  height: .24rem;
  display: block;
  z-index: 1;
  background-image: url(../i/base/icon-arrow-right.png);
  background-size: cover;
}
.page-detail .detail-con {
  background-color: #fff;
  border-radius: .3rem;
  padding: .3rem 0;
  width: 6.9rem;
  margin: 0 auto;
  overflow: hidden;
}
.page-detail .detail-con .section-ydtg {
  padding: 0 .2rem;
}
.page-detail .detail-con .section-ydtg .hd {
  font-size: .32rem;
}
.page-detail .detail-con .section-ydtg .con {
  padding: .2rem 0;
  height: 1.4rem;
}
.page-detail .detail-con .section-ydtg .con .item {
  float: left;
  width: 31.3%;
  margin: 0 1%;
}
.page-detail .detail-con .section-ydtg .con .item img {
  background: #f1f1f1;
  width: 100%;
  height: 1rem;
}
.page-detail .detail-con .section-shop {
  padding: 0 .2rem;
}
.page-detail .detail-con .section-shop .hd {
  background: #F5FAFE;
  padding: .2rem .2rem .2rem 1.2rem;
  height: 1.2rem;
  position: relative;
  z-index: 1;
  line-height: .8rem;
}
.page-detail .detail-con .section-shop .hd .img-show {
  display: block;
  position: absolute;
  left: .2rem;
  top: .2rem;
  background-image: url(../i/base/user.png);
  background-size: cover;
  border-radius: 50%;
  height: .8rem;
  width: .8rem;
}
.page-detail .detail-con .section-shop .hd .icon-rz {
  display: inline-block;
  height: .25rem;
  width: .35rem;
  background-image: url(../i/base/icon-rz.png);
  background-size: cover;
  vertical-align: middle;
  margin-left: .1rem;
}
.page-detail .detail-con .section-shop .con {
  padding: 0 .2rem;
}
.page-detail .detail-con .section-shop .con .shop-nav {
  height: .62rem;
  line-height: .6rem;
}
.page-detail .detail-con .section-shop .con .shop-nav ul {
  background-color: #fff;
  height: .62rem;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.page-detail .detail-con .section-shop .con .shop-nav ul li {
  float: left;
  padding: 0 .3rem;
  border-bottom: 1px solid #ddd;
}
.page-detail .detail-con .section-shop .con .shop-nav ul li a {
  color: #333;
  display: block;
  border-bottom: 2px solid transparent;
}
.page-detail .detail-con .section-shop .con .shop-nav ul li a.am-active {
  border-bottom: 2px solid #FD4E79;
}
.page-detail .detail-con .section-shop .con .am-panel-default {
  border: 0 none;
}
.page-detail .detail-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  z-index: 1;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
}
.page-detail .detail-bottom .btn {
  width: 1.4rem;
}
.page-detail .detail-bottom .btn.btn-b-l {
  border-left: 1px solid #ddd;
}
.page-detail .detail-bottom .btn a {
  display: block;
  color: #555;
  line-height: .4rem;
}
.page-detail .detail-bottom .btn a .icon-phone {
  background-image: url(../i/base/icon-phone.png);
  background-size: .44rem .44rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: .55rem;
}
.page-detail .detail-bottom .btn a .icon-kefu {
  background-image: url(../i/base/icon-kefu.png);
  background-size: .44rem .44rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: .55rem;
}
.page-detail .detail-bottom .btn-1 {
  height: 1rem;
}
.page-detail .detail-bottom .btn-1 a {
  background-image: url(../i/home/head.jpg);
  background-size: cover;
  display: block;
  height: 1rem;
  line-height: 1rem;
  width: 100%;
  color: #fff;
  font-size: .32rem;
}
.page-order {
  padding-top: 4.5rem;
}
.page-order .home-head {
  height: 3.2rem;
}
.page-order .section-order-info {
  background: #fff;
  width: 6.9rem;
  box-shadow: 0px 2px 20px #F9A6AC;
  position: absolute;
  margin-left: -3.45rem;
  left: 50%;
  top: .9rem;
  padding: .3rem .2rem;
  border-radius: .2rem;
  z-index: 2;
}
.page-order .section-order-info .hd {
  position: relative;
  z-index: 1;
  height: 1rem;
  padding: 0 .1rem 0 1.2rem;
  margin-bottom: .2rem;
}
.page-order .section-order-info .hd .img {
  position: absolute;
  left: 0;
  top: 0;
  height: 1rem;
  width: 1rem;
  background: #ddd;
  border-radius: .1rem;
}
.page-order .section-order-info .hd .tt {
  font-size: .34rem;
  line-height: .5rem;
  margin-bottom: .1rem;
}
.page-order .section-order-info .hd .desc {
  line-height: .3rem;
}
.page-order .section-order-info .hd .price {
  font-size: .3rem;
  font-weight: 600;
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 2;
}
.page-order .section-order-info .con {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: .3rem 0;
  position: relative;
  z-index: 1;
  margin: .2rem;
}
.page-order .section-order-info .con .begin-box,
.page-order .section-order-info .con .end-box {
  text-align: center;
}
.page-order .section-order-info .con .begin-box .tt,
.page-order .section-order-info .con .end-box .tt {
  font-size: .24rem;
  margin-bottom: .15rem;
}
.page-order .section-order-info .con .begin-box .date,
.page-order .section-order-info .con .end-box .date {
  font-size: .34rem;
  margin-bottom: .05rem;
}
.page-order .section-order-info .con .begin-box .sub-date,
.page-order .section-order-info .con .end-box .sub-date {
  margin-top: .05rem;
}
.page-order .section-order-info .con .day-wrap {
  padding: .1rem;
  width: 2.2rem;
}
.page-order .section-order-info .con .day-wrap .days {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  color: #555;
  margin-left: -0.6rem;
  line-height: .5rem;
  padding: .1rem;
  z-index: 1;
  height: 1.2rem;
  width: 1.2rem;
}
.page-order .section-order-info .con .day-wrap .days .important {
  font-size: .38rem;
}
.page-order .section-order-info .con .day-wrap .days:before {
  content: ".";
  text-indent: -99rem;
  border-top: 1px solid #ddd;
  height: 1px;
  width: .45rem;
  position: absolute;
  top: 50%;
  left: -0.45rem;
  z-index: 2;
}
.page-order .section-order-info .con .day-wrap .days:after {
  content: ".";
  text-indent: -99rem;
  border-top: 1px solid #ddd;
  height: 1px;
  width: .45rem;
  position: absolute;
  top: 50%;
  right: -0.45rem;
  z-index: 2;
}
.page-order .section-order-info .ft .tips {
  color: #76B5F4;
}
.page-order .section-order-contact {
  background: #fff;
  margin-bottom: .2rem;
  padding: 2rem .3rem 0;
}
.page-order .section-order-contact .line {
  padding: 0 .2rem;
  line-height: .9rem;
  display: flex;
}
.page-order .section-order-contact .line + .line {
  border-top: 1px solid #ddd;
}
.page-order .section-order-contact .line .label {
  font-weight: 400;
  text-align: right;
  display: block;
  width: 1.4rem;
}
.page-order .section-order-contact .line .label .icon-must {
  padding-right: .05rem;
}
.page-order .section-order-contact .line .input input {
  border: 0 none;
  line-height: .9rem;
  width: 100%;
}
.page-order .section-order-other {
  background-color: #fff;
  padding: .3rem 0;
  margin-bottom: .2rem;
}
.page-order .section-order-other .tt {
  border-left: 3px solid #FD4E79;
  height: .3rem;
  line-height: .3rem;
  padding-left: .2rem;
  padding-right: .2rem;
  margin-left: .2rem;
  margin-bottom: .2rem;
}
.page-order .section-order-other .item {
  color: #888;
  border-bottom: 1px solid #ddd;
  padding: .2rem .2rem .2rem .7rem;
  position: relative;
  z-index: 1;
}
.page-order .section-order-other .item.item-1 {
  padding-left: .2rem;
}
.page-order .section-order-other .item .check {
  position: absolute;
  left: .2rem;
  top: .35rem;
  display: block;
  background-image: url(../i/base/icon-checked-s.png);
  background-size: cover;
  height: .3rem;
  width: .3rem;
}
.page-order .section-order-other .item .check.active {
  background-image: url(../i/base/icon-checked-s-a.png);
}
.page-order .section-order-other .item .hd {
  height: .6rem;
  line-height: .6rem;
}
.page-order .section-order-other .item .hd .t {
  color: #333;
}
.page-order .section-order-other .item .hd .label {
  text-align: right;
  height: .6rem;
  width: 3rem;
}
.page-order .section-order-other .item .hd .label .num-box {
  display: flex;
  text-align: center;
  height: .6rem;
  line-height: .6rem;
  margin-left: .2rem;
  width: 1.8rem;
}
.page-order .section-order-other .item .hd .label .num-box .sub,
.page-order .section-order-other .item .hd .label .num-box .add {
  flex: 1;
  background: #EEEEEE;
  display: block;
  height: .6rem;
  color: #333;
}
.page-order .section-order-other .item .hd .label .num-box input {
  border: 1px solid #E5E5E5;
  height: .6rem;
  width: .6rem;
  text-align: center;
}
.page-order .section-order-other .item .hd .label.label-r {
  padding-right: .3rem;
}
.page-order .section-order-other .item .hd .label.label-r .icon-right {
  position: absolute;
  right: .2rem;
  top: 50%;
  margin-top: -0.12rem;
  width: .14rem;
  height: .24rem;
  display: block;
  z-index: 1;
  background-image: url(../i/base/icon-arrow-right.png);
  background-size: cover;
}
.page-order .section-order-other .item .con {
  padding-top: .2rem;
  margin-bottom: .2rem;
}
.page-order .section-order-other .item .con .memo {
  border: 1px solid #ddd;
  width: 100%;
  height: 2rem;
}
.page-order .section-order-btns {
  background: #fff;
  position: relative;
  z-index: 1;
}
.page-order .section-order-btns .top {
  background: #f6f6f6;
  padding: .2rem .2rem .4rem .7rem;
}
.page-order .section-order-btns .top label {
  font-weight: 400;
}
.page-order .section-order-btns .top .check {
  position: absolute;
  left: .2rem;
  top: .3rem;
  display: block;
  background-image: url(../i/base/icon-checked-s.png);
  background-size: cover;
  height: .3rem;
  width: .3rem;
}
.page-order .section-order-btns .top .check.active {
  background-image: url(../i/base/icon-checked-s-a.png);
}
.page-order .section-order-btns .con .btn {
  background-image: url(../i/home/head.jpg);
  background-size: cover;
  display: block;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
  width: 2.8rem;
}
.page-order .section-order-btns .con .info {
  padding-left: .3rem;
  line-height: 1rem;
}
.page-datepick .date-hd {
  height: .9rem;
  line-height: .9rem;
  padding: 0 .2rem;
  background: #fff;
  text-align: center;
}
.page-datepick .date-con {
  text-align: center;
}
.page-datepick .date-con .month-box .hd {
  line-height: .8rem;
}
.page-datepick .date-con .month-box .con {
  background: #fff;
}
.page-datepick .date-con .month-box .con .item {
  height: 1.1rem;
  padding: .25rem 0;
  line-height: 1;
}
.page-datepick .date-con .month-box .con .item.disable {
  background: #f4f4f4;
}
.page-datepick .date-con .month-box .con .item.active {
  background: #FD4E79;
  color: #fff;
}
.page-datepick .date-con .month-box .con .item.active .p {
  color: #fff;
}
.page-datepick .date-con .month-box .con .item .d {
  margin-bottom: .05rem;
}
.page-datepick .date-con .month-box .con .item .p {
  color: #F9595C;
  font-size: .24rem;
}
.page-datepick .date-btn {
  background-color: #fff;
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2rem;
  border-top: 1px solid #ddd;
  padding: .2rem;
  width: 100%;
}
.page-datepick .date-btn .tips-box {
  height: .6rem;
  line-height: .6rem;
}
.page-datepick .date-btn .tips-box .left {
  text-align: left;
}
.page-datepick .date-btn .tips-box .right {
  text-align: right;
}
.page-datepick .date-btn .tips-box .icon-default {
  background: #DEDEDE;
  border-radius: 50%;
  display: inline-block;
  height: .24rem;
  width: .24rem;
  margin: 0 .05rem;
}
.page-datepick .date-btn .tips-box .icon-active {
  background: #FD4E79;
  border-radius: 50%;
  display: inline-block;
  height: .24rem;
  width: .24rem;
  margin: 0 .05rem;
}
.page-pay .pay-box {
  background-color: #fff;
  padding: .2rem;
  margin-bottom: .2rem;
}
.page-pay .pay-box .hd {
  padding-top: .4rem;
  margin-bottom: .2rem;
}
.page-pay .pay-box .hd .icon-success {
  display: block;
  height: 1.68rem;
  width: 1.68rem;
  background-image: url(../i/base/icon-success.png);
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto .3rem;
}
.page-pay .pay-box .hd p {
  text-align: center;
  font-size: .34rem;
}
.page-pay .pay-box .con {
  width: 5.6rem;
  margin: 0 auto .4rem;
}
.page-pay .pay-box .con .flex-1 {
  padding: 0 .2rem;
}
.page-pay .pay-box .con .flex-1 a {
  text-align: center;
  color: #555;
  display: block;
  border: 1px solid #bbb;
  line-height: .8rem;
}
.page-pay .pay-box .ft {
  margin-bottom: .2rem;
}
.page-pay .pay-box .ft .icon-qrcode {
  background: #444;
  display: block;
  height: 1.68rem;
  width: 1.68rem;
  background-image: url(../i/base/ewm.png);
  background-size: cover;
  margin: 0 auto;
}
.page-pay .pay-box .ft p {
  color: #999;
  text-align: center;
}
.page-pay .recommend-box {
  padding: .2rem;
  background: #fff;
  margin-bottom: .2rem;
}
.page-pay .recommend-box .hd {
  padding: 0 0 0 .6rem;
  margin-bottom: .2rem;
  line-height: .6rem;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1;
}
.page-pay .recommend-box .hd .icon-heart {
  position: absolute;
  left: .1rem;
  top: 50%;
  margin-top: -0.16rem;
  height: .32rem;
  width: .32rem;
  background-image: url(../i/base/icon-heart.png);
  background-size: cover;
}
.page-pay .recommend-box .con {
  padding: .3rem 0;
}
.page-pay .recommend-box .con .flex-1 {
  text-align: center;
}
.page-pay .recommend-box .con .flex-1 .icon {
  display: block;
  height: 1.08rem;
  width: 1.08rem;
  border: 1px solid #eee;
  border-radius: 50%;
  margin: 0 auto .2rem;
  background-size: cover;
}
.page-pay .recommend-box .con .flex-1 .icon.icon-food {
  background-image: url(../i/base/icon-chi.png);
}
.page-pay .recommend-box .con .flex-1 .icon.icon-sleep {
  background-image: url(../i/base/icon-zhu.png);
}
.page-pay .recommend-box .con .flex-1 .icon.icon-find {
  background-image: url(../i/base/icon-wan.png);
}
.page-pay .recommend-box .con .flex-1 .icon.icon-buy {
  background-image: url(../i/base/icon-wu.png);
}
.page-evaluate .evaluate-box .hd {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: .2rem;
}
.page-evaluate .evaluate-box .hd label {
  font-weight: 400;
}
.page-evaluate .evaluate-box .hd textarea {
  border: 0 none;
  height: 2rem;
  width: 100%;
}
.page-evaluate .evaluate-box .img-box {
  margin-bottom: .2rem;
  background-color: #fff;
  padding: .2rem;
  text-align: center;
}
.page-evaluate .evaluate-box .img-box .empty {
  height: 1.6rem;
  background-image: url(../i/base/icon-addimg.png);
  background-size: 1.2rem 1.2rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: .2rem 0;
}
.page-evaluate .evaluate-box .con {
  background-color: #fff;
  padding: .2rem;
}
.page-evaluate .evaluate-box .con .line {
  height: .9rem;
  line-height: .9rem;
}
.page-evaluate .evaluate-box .con .line .label {
  width: 2rem;
}
.page-evaluate .evaluate-box .con .line .input {
  padding: .2rem 0;
}
.page-evaluate .evaluate-box .con .line .start-box {
  height: .5rem;
  width: 3rem;
  display: flex;
}
.page-evaluate .evaluate-box .con .line .start-box .item {
  flex: 1;
  height: .5rem;
  background-image: url(../i/base/star.png);
  background-size: .44rem .44rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-evaluate .evaluate-box .con .line .start-box .item.active {
  background-image: url(../i/base/star-active.png);
}
.page-evaluate .evaluate-box .other {
  padding: .3rem;
}
.page-evaluate .evaluate-box .other .switch-box {
  height: .8rem;
  line-height: .8rem;
}
.page-evaluate .evaluate-box .other .switch-box.active .icon {
  background-image: url(../i/base/switch-on.png);
}
.page-evaluate .evaluate-box .other .switch-box .icon {
  background-image: url(../i/base/switch-off.png);
  background-size: cover;
  display: inline-block;
  height: .8rem;
  width: 1.1rem;
  margin-right: .4rem;
  vertical-align: middle;
}
.page-evaluate .evaluate-box .ft {
  padding: .2rem;
}
.page-apply .apply-box .hd {
  height: .9rem;
  line-height: .9rem;
  text-align: center;
}
.page-apply .apply-box .con .base-box {
  background: #fff;
  margin-bottom: .2rem;
}
.page-apply .apply-box .con .base-box .line {
  display: flex;
  line-height: 1.1rem;
  padding: 0 .3rem;
  border-bottom: 1px solid #ddd;
}
.page-apply .apply-box .con .base-box .line .label {
  width: 2rem;
}
.page-apply .apply-box .con .base-box .line .input {
  flex: 1;
  position: relative;
  z-index: 1;
}
.page-apply .apply-box .con .base-box .line .input input {
  text-align: right;
  border: 0 none;
  padding: 0 .3rem;
  width: 100%;
}
.page-apply .apply-box .con .base-box .line .input i.icon-right {
  background-image: url(../i/base/arrow-r.png);
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  height: .25rem;
  width: .25rem;
  margin-top: -0.08rem;
}
.page-apply .apply-box .con .icon-box {
  background-color: #fff;
  padding: .3rem;
  margin-bottom: .2rem;
}
.page-apply .apply-box .con .icon-box .icon-line .tt {
  line-height: .5rem;
}
.page-apply .apply-box .con .icon-box .icon-line .sub {
  padding: .3rem 0;
  display: flex;
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item {
  text-align: center;
  flex: 1;
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item.active .icon {
  background-color: #fff;
  border: 1px solid #444;
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon {
  display: block;
  margin: .1rem auto;
  height: 1.1rem;
  width: 1.1rem;
  background-color: #eee;
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-water {
  background-image: url(../i/base/icon-divice-5.png);
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-electricity {
  background-image: url(../i/base/icon-divice-6.png);
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-toilet {
  background-image: url(../i/base/icon-divice-7.png);
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-bath {
  background-image: url(../i/base/icon-divice-8.png);
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-dining {
  background-image: url(../i/base/icon-divice-1.png);
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-shopping {
  background-image: url(../i/base/icon-divice-2.png);
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-bar {
  background-image: url(../i/base/icon-divice-3.png);
}
.page-apply .apply-box .con .icon-box .icon-line .sub .item .icon.icon-barbecue {
  background-image: url(../i/base/icon-divice-4.png);
}
.page-apply .apply-box .con .pic-box {
  background-color: #fff;
  margin-bottom: .2rem;
  padding: .3rem;
}
.page-apply .apply-box .con .pic-box .empty {
  height: 1.6rem;
  background-image: url(../i/base/icon-addimg.png);
  background-size: 1.2rem 1.2rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: .2rem 0;
}
.page-apply .apply-box .con .textarea-box {
  background-color: #fff;
  margin-bottom: .2rem;
  padding: .3rem;
}
.page-apply .apply-box .con .textarea-box textarea {
  border: 0 none;
  height: 2rem;
  width: 100%;
}
.page-apply .apply-box .ft {
  padding: .2rem;
}
.page-find {
  padding-top: 5rem;
}
.page-find .home-head {
  height: 3.2rem;
}
.page-find .slide-wrapper {
  height: 3.6rem;
  width: 7.2rem;
  position: absolute;
  z-index: 2;
  top: .9rem;
  left: 50%;
  margin-left: -3.6rem;
}
.page-find .slide-wrapper .am-control-nav {
  display: none;
}
.page-find .find-tab {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 0 .2rem;
}
.page-find .find-tab .item {
  text-align: center;
  flex: 1;
  padding: 0 .2rem;
  margin-bottom: -1px;
}
.page-find .find-tab .item.active a {
  color: #333;
  border-bottom: 1px solid #FB4E79;
}
.page-find .find-tab .item a {
  border-bottom: 1px solid transparent;
  display: block;
  color: #888;
  height: .8rem;
  line-height: .8rem;
}
.page-find .find-list .item {
  display: flex;
  color: #333;
  padding: .2rem;
  border-bottom: 2px solid #ddd;
  height: .2.5rem;
}
.page-find .find-list .item .hd {
  height: 2.1rem;
  width: 2.1rem;
}
.page-find .find-list .item .con {
  flex: 1;
  height: 2.1rem;
  position: relative;
  padding: .2rem 0rem .2rem .2rem;
  z-index: 1;
}
.page-find .find-list .item .con .tt {
  display: block;
  margin-bottom: .3rem;
  line-height: .3rem;
  height: .3rem;
  overflow: hidden;
}
.page-find .find-list .item .con .desc {
  font-size: .24rem;
  display: block;
  line-height: .28rem;
  height: .56rem;
  overflow: hidden;
}
.page-find .find-list .item .con .date {
  position: absolute;
  right: .1rem;
  bottom: .1rem;
}
.page-find .find-list .item .con .view {
  height: .4rem;
  line-height: .4rem;
  position: absolute;
  left: .2rem;
  bottom: .1rem;
}
.page-find .find-list .item .con .view .m {
  display: inline-block;
  height: .28rem;
  width: .4rem;
  background-image: url(../i/base/icon-msg.png);
  background-size: cover;
  vertical-align: middle;
}
.page-find .find-list .item .con .view .v {
  display: inline-block;
  height: .28rem;
  width: .4rem;
  background-image: url(../i/base/icon-eye.png);
  background-size: cover;
  vertical-align: middle;
}
.page-find-detail .head-bottom {
  background-image: url(../i/base/head.jpg);
  background-size: cover;
  height: 1rem;
  width: 100%;
  z-index: 1;
}
.page-find-detail .detail-box {
  margin: -1rem 0.2rem 0.5rem;
  background-color: #fff;
  box-shadow: 0px 2px 20px #F9A6AC;
  border-radius: .2rem;
  padding: .2rem;
}
.page-find-detail .detail-box .hd {
  padding: .1rem;
  border-bottom: 2px solid #222;
}
.page-find-detail .detail-box .hd .tt {
  text-align: center;
  font-size: .3rem;
  margin-bottom: .15rem;
}
.page-find-detail .detail-box .hd .sub {
  text-align: right;
}
.page-find-detail .detail-box .con {
  padding: .1rem;
  border-bottom: 2px solid #222;
}
.page-find-detail .detail-box .ft {
  height: .6rem;
  padding: .1rem;
  position: relative;
  z-index: 1;
}
.page-find-detail .detail-box .ft .view {
  height: .4rem;
  line-height: .4rem;
  position: absolute;
  left: 0rem;
  bottom: .1rem;
}
.page-find-detail .detail-box .ft .view .m {
  display: inline-block;
  height: .28rem;
  width: .4rem;
  background-image: url(../i/base/icon-msg.png);
  background-size: cover;
  vertical-align: middle;
}
.page-find-detail .detail-box .ft .view .v {
  display: inline-block;
  height: .28rem;
  width: .4rem;
  background-image: url(../i/base/icon-eye.png);
  background-size: cover;
  vertical-align: middle;
}
.page-find-detail .detail-feedback {
  padding: .2rem;
}
.page-find-detail .detail-feedback .hd {
  height: .6rem;
  position: relative;
  z-index: 1;
}
.page-find-detail .detail-feedback .hd .line {
  position: absolute;
  left: 0;
  top: 50%;
  height: .01rem;
  border-top: .01rem solid #222;
  width: 100%;
  z-index: 1;
}
.page-find-detail .detail-feedback .hd .tt {
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  top: 0;
  width: 2rem;
  height: .6rem;
  line-height: .6rem;
  background: #f6f6f6;
  text-align: center;
  z-index: 2;
}
.page-find-detail .detail-feedback .sub {
  text-align: right;
  padding: .15rem;
}
.page-find-detail .detail-feedback .list .item {
  display: flex;
  margin-bottom: .2rem;
}
.page-find-detail .detail-feedback .list .item .hd {
  width: .8rem;
}
.page-find-detail .detail-feedback .list .item .hd img {
  height: .8rem;
  width: .8rem;
}
.page-find-detail .detail-feedback .list .item .con {
  flex: 1;
  padding: 0 .3rem;
}
.page-find-detail .detail-feedback .list .item .con .tt {
  color: #666;
}
.page-find-detail .detail-feedback .list .item .con .date {
  color: #999;
}
